/*Universal*/
*{
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
/*BODY*/
body{
   font-family: "Roboto", sans-serif;
   background-color: #799bce;
   font-size: 13px;
   line-height: 19px;
   margin: 0;
   padding: 0;
}
/*CONTAINER*/
.container{
   width: 100%;
   max-width: 930px;
   padding: 0px 15px;
   margin: 100px auto;
}
/*PLAN CARD*/
.plan-card__wrapper {
   display: flex;
   align-items: flex-start;
   padding: 20px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
.plan-card__item {
   width: 33.33%;
   padding: 20px 40px;
   color: #5673D5;
   text-align: center;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.5s ease;
}
.plan-card__item:hover{
   background-color: rgba(0, 0, 0, 0.1);
}
.plan-card__icon {
   width: 70px;
   height: 70px;
   margin-bottom: 35px;
}
.plan-card__title {
   font-size: 18px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 4px;
   margin-bottom: 20px;
}
.plan-card__text {
   color: #A7A7A7;
   margin-bottom: 20px;
}
.number {
   font-size: 30px;
   font-weight: 500;
}
.dollar {
   font-size: 14px;
}

/*MEDIA QUERY*/
@media (max-width: 1024px) {
   .container{
      width: 90%;
   }
   .plan-card__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   .plan-card__item {
      width: 95%;
   }
}
@media (max-width: 375px) {
   .container{
      width: 98%;
   }
   .plan-card__item {
      width: 98%;
      padding: 20px 20px;
   }
   .plan-card__icon {
      width: 60px;
      height: 60px;
   }
   .plan-card__title {
      font-size: 16px;
   }
   .plan-card__text{
      font-style: 12px;
   }
   .number {
      font-size: 26px;
   }
   .dollar {
      font-size: 10px;
   }
}